/* Estilos customizados complementares ao Tailwind CSS */
/* O Tailwind gerencia a maioria dos estilos base */
html{
  font-size: 12px;
}

svg {
  display: inline-block;
}

#menu{
  display: none;
}

#menu.ativo{
  display: block;
  position: absolute;
  min-height: 50vh;
  width: 40%;
  right: 0;
  top: 20vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(240, 248, 255, 0.726);
  gap: 0.2rem;

  @media (max-width: 1515px) and (min-width: 1116px){
    right: 2rem;
    width: 50%;
  }

  @media (max-width: 1115px) and (min-width: 905px){
    right: 2rem;
    width: 50%;
  }

  @media (min-width: 768px) and (max-width: 904px){
    right: 1.5rem;
    width: 60%;
  }

  @media (max-width: 769px){
    flex-direction: row;
    width: 100%;
  }

}

nav div ul li{
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
}

nav div button{
  position: absolute;
  border: 1px solid white;
  border-radius: 0.5rem;
  top: 5vh;
  right: 13vw;
  padding: 0.2rem 2.5rem;
  background-color: rgba(1, 132, 247, 0.418);
  font-size: 2rem;
}

main{
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

progress::-webkit-progress-bar{
  background-color: aliceblue;
  border: 1px solid rgb(0, 183, 255);
  border-radius: 3px;
}

#progressGood::-webkit-progress-value{
  background-color: rgb(0, 255, 255);
}

#progressNormal::-webkit-progress-value{
  background-color: green;
}

#progressBad::-webkit-progress-value{
  background-color: red;
}

#progressExcellent::-webkit-progress-value{
  background-color: rgb(0, 119, 255);
}

#just{
  color: rgb(0, 132, 255);
}

#notJust{
  color: red;
}

#bg-red{
  background-color: red;
}

#bg-blue{
  background-color: rgb(0, 132, 255);
}

.processamento{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(0, 132, 255);
  background: rgba(240, 241, 241, 0.70);
  z-index: 5;
}

#messegeGray{
  background-color: gray;
  align-self: end;
}

#messegeBlue{
  background-color: rgb(0, 162, 255);
}

button{
  cursor: pointer;
}
